
{% load static %}


{% block conteudo %}

<head>
    <link rel="stylesheet" href="{% static 'usuario/login/css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="formulario">
            <form class="form" action="{% url 'Login' %}" method="POST"> {% csrf_token %}
                <label class="label" for="username">Usuário</label>
                <input class="input form-control" type="text" name="username" placeholder="Seu nome">
                <br>
                <label class="label" for="password">Senha</label>
                <input class="input form-control" type="password" name="password" placeholder="Senha">
                <br>
                <button class="botao" type="submit">Entrar</Button>
                <a href="/" class="link">Voltar para o Site</a>    
            </form>
        </div>
    </div>
</body>

{% endblock conteudo %}
    