*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.container{
    max-width:1024px;
    width:100%;
    margin:0 auto;
}

body{
    background-color: #e1dacf;
}

header h2{
    color: #7e9c9f;
}

.boleto{
    border:2px solid #7e9c9f;
    height:200px;
    width:200px;
}