{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'Cliente/Login/css/Login.css' %}">
</head>
<body>
    <div class="container">
        <div class="formulario">
            <form class="form" action="{% url 'Login' %}" method="POST"> {% csrf_token %}
                <label class="label" for="username">Usuário</label>
                <input class="input" type="text" name="username" placeholder="Seu nome">
                <br>
                <label class="label" for="password">Senha</label>
                <input class="input" type="password" name="password" placeholder="Senha">
                <br>
                <button class="botao" type="submit">Entrar</Button>
                <a href="/" class="link">Voltar para o Site</a>    
            </form>
        </div>
    </div>
</body>
</html>