{% extends 'base.html' %}

{% load static %}


{% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>O Bem Viver</title>
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        
        <style>
            .corpo{
                background-color:#e1decf;
            }
            a:link{
                border: 3px solid #c46852;
            }
        </style>
        {% endblock head %}

{% block conteudo %}
<body class='corpo '>
    <div class='container-fluid  justify-content-center '>
        <div >
            <nav class="navbar navbar-expand-lg position-absolute" style="background-color: transparent" >
                <div class="container-fluid " >
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <br>
                    <br>
                    <br>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto ">
                        <li class="nav-item p-1 ">
                            <a class='btn  text-center fw-bold' href="{% url 'perfil_staff' %}" style='background-color:#7E9C9F; color:#e1decf;' >Inicio</a>
                        </li>
                        <li class="nav-item p-1">
                            <a class='btn text-center fw-bold' style='background-color:#7E9C9F; color:#e1decf;' href="{% url 'logout' %}">Sair</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <br>
            <br>
            <br>
            <div class='d-block'>
                {% if user.avatar == '' and user.genero_usuario == 'Feminino' %}
                        <div class='p-2 m-3 m-auto mt-2 text-center'>
                            <img name='foto' class='border rounded-circle ' style='height:170px;' src="{% static 'img/avatar-mulher.avif' %}" >
                        </div>
                        {% endif %}
                        {% if user.avatar == '' and user.genero_usuario == 'Masculino' %}
                        <div class='p-2 m-3 m-auto mt-2 text-center'>
                            <img name='foto' class='border rounded-circle ' style='height:170px;' src="{% static 'img/avatar-homem.avif' %}" >
                        </div>
                        <br>
                        {% endif %}
                        {% if user.avatar == '' and user.genero_usuario == 'Outros' %}
                        <div class='p-2 m-3 m-auto mt-2 text-center'>
                            <img name='foto' class='border rounded-circle ' style='height:170px;' src="{% static 'img/avatar-outros.jpg' %}" >
                        </div>
                        {% endif %}
                        {% if user.avatar %}
                        <div class='p-2 m-3 m-auto mt-2 text-center'>
                            <img name='foto' class='border rounded-circle ' style='height:170px;' src="{{user.avatar.url}}" >
                        </div>
                        {% endif %}
                        <br>
                        <div class='d-flex justify-content-center'>
                            <button type="button" class='btn btn-light' data-bs-toggle="modal" data-bs-target="#foto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0"/>
                                </svg>
                            </button>
                        </div>
                        <br>
                    {% if user.genero_usuario == 'Masculino' %}
                            <li class='nav-item list-unstyled'>
                                <h4 class='text-center'>Olá, seja bem vindo {{ user.username }}</h4>
                            </li>  
                            {% endif %}
                            {% if user.genero_usuario == 'Feminino' %}
                            <li class='nav-item list-unstyled'>
                                <h4 class='text-center'>Olá, seja bem vinda {{ user.username }}</h4>
                            </li>  
                            {% endif %}
                            {% if user.genero_usuario == 'Outros' %}
                            <li class='nav-item list-unstyled'>
                                <h4 class='text-center'>Olá, seja bem vinde {{ user.username }}</h4>
                            </li>  
                            {% endif %}
            </div>
            <form action="{% url 'editar-perfil' %}" method="post" enctype= "multipart/form-data">
                {% csrf_token %}
                <div class="modal fade " id="foto" tabindex="-1" aria-labelledby="example" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="example">Deseja alterar a foto de perfil?</h1>
                            </div>
                        <div class="modal-body">
                            <label for="foto">Selecione uma imagem</label>
                            <input type="file" name="foto" id="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class='col-sm-8 m-auto '>
                <br>
                <br>
                <h3 class='text-center'>Usuarios do sistema</h3>
                <div class='col-sm-8 m-auto d-flex justify-content-center p-4 '>
                    <div class='ms-2'>
                        <a class='btn text-center fw-bold' style='background-color:#7E9C9F; color:#e1decf;' href="{% url 'usuarios' %}">Voltar</a>
                    </div>
                </div>
                <br>
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class='border rounded-5 table-responsive-sm'>
                    <table class='table'>
                        {% if object_list %}
                        <tr>
                            <th class='text-center fs-5 fw-bold'>Usuario</th>
                            <th class='text-center fs-5 fw-bold'>Status</th>
                            <th class='text-center fs-5 fw-bold'>Filho</th>
                            <th class='text-center fs-5 fw-bold'>Turma</th>
                            <th class='text-center fs-5 fw-bold'>Ações</th>
                        </tr>
                        {% for usuario in object_list %}
                        {% if usuario.is_professor %}
                        <tr style='max-height: 30px;'>
                            <td class='align-middle text-center fs-6'>{{ usuario.username }}</td>
                            <td class='align-middle text-center fs-6'>{{usuario.status}}</td>
                            <td class='align-middle text-center fs-6'>{{usuario.filho.primeiro_nome_filho}}</td>
                            <td class='align-middle'>
                                <div class="table-responsive-sm" style='font-size: 12px; max-height: 55px; overflow-y: scroll;'>
                                    <div class="d-grid gap-2">
                                        {% if usuario.alunos_da_turma.exists %}
                                        {% for turma in usuario.alunos_da_turma.all %}
                                        <div class='p-1 text-center'>
                                            <div>{{ turma.modalidade }}</div>
                                            <div>{{ turma.professor }}</div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class='p-2 mt-1 text-center'>
                                            Sem turma
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                            <td class='align-middle text-center gap-1'>
                                <div class="d-grid gap-2 d-sm-block">
                                    <button type="button" class="btn btn-primary btn-sm fw-bold" data-toggle="modal" data-target="#exampleModalLong2{{ usuario.pk }}">
                                        Alterar turma
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm fw-bold" data-toggle="modal" data-target="#exampleModalLong{{ usuario.pk }}">
                                        Deletar
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <form action="{% url 'deletar-cliente' usuario.pk %}" method="post" class='form-horizontal'>
                            {% csrf_token %}
                            <div class="modal fade" id="exampleModalLong{{ usuario.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Deletar usuario </h5>
                                        </div>
                                        <div class="modal-body">
                                            Tem certeza que deseja deletar o usuario {{usuario.username}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Confirmar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action="{% url 'alterar-turma' usuario.pk %}" method="post" class='form-horizontal'>
                            {% csrf_token %}
                            <div class="modal fade" id="exampleModalLong2{{ usuario.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle2">Alterar turma </h5>
                                        </div>
                                        <label for="turma">Turma</label>
                                        <select name="turma" id="turma" class="form-control">
                                            {% for turmas in turma %}
                                            <option value="{{ turmas.pk }}">{{ turmas }}</option>
                                            {% endfor %}
                                        </select>
                                        {{UsuarioUpdateForm2.as_p}}
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Confirmar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                <p>Nenhum usuário registrado</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>



    
{% endblock conteudo %}